<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragment/bodyHeader :: bodyHeader"/>
    <h3> Editing the warehouse:  <span th:text="${warehouse.getName()}"></span></h3>
    <form th:object="${form}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label th:for="name">Name</label>
            <input type="text" th:field="*{name}" class="form-control"
                   placeholder="Enter the name of the inventory"/>
        </div>
        <br/>
        <button type=" submit" class="btn btn-primary">Submit</button>
    </form>
    <div th:replace="fragment/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>