<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
<div class="container">
  <div th:replace="fragment/bodyHeader :: bodyHeader"/>
  <div>
    <table class="table table-striped">
      <h3> List of the inventories of the warehouse:  <span th:text="${warehouse.getName()}"></span></h3>
      <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="warehouseInventory : ${warehouseInventories}">
        <td th:text="${warehouseInventory.inventory.name}"></td>
        <td th:text="${warehouseInventory.inventory.type}"></td>
        <td th:text="${warehouseInventory.inventory.description}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragment/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>