<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragment/bodyHeader :: bodyHeader"/>
    <h3> List of Warehouses"></span></h3>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name of Warehouse</th>
                <th>List of Inventories</th>
                <th>Add more Inventories</th>
                <th>Update</th>
                <th>Delete</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="warehouse : ${warehouses}">
                <td th:text="${warehouse.name}"></td>
                <td><a class="btn btn-primary" th:href="@{/warehouse/{id} (id=${warehouse.id})}">See the List</a></td>
                <td><a class="btn btn-primary" th:href="@{/warehouse/{id}/add (id=${warehouse.id})}">Add</a></td>
                <td><a class="btn btn-primary" th:href="@{/warehouse/{id}/edit (id=${warehouse.id})}">Update</a></td>
                <td><a class="btn btn-danger" th:href="@{/warehouse/{id}/delete (id=${warehouse.id})}">Delete</a></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragment/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>