<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragment/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Update</th>
                <th>Delete</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inventory : ${inventories}">
                <td th:text="${inventory.name}"></td>
                <td th:text="${inventory.type}"></td>
                <td th:text="${inventory.description}"></td>
                <td><a class="btn btn-primary" th:href="@{/inventory/{id}/edit (id=${inventory.id})}">Click</a>
                </td>
                <td><a class="btn btn-danger" th:href="@{/inventory/{id}/delete (id=${inventory.id})}">Click</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragment/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>