<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header">
    <title>Inventory Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragment/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h2>Home Page of Inventory Project </h2>
        <p class="lead">Inventory Management</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/inventory/new">Add a Inventory</a>
            <a class="btn btn-lg btn-dark" href="/inventory">List of Inventories</a>
        </p>
        <p class="lead">Location Management</p>
        <p>
            <a class="btn btn-lg btn-info" href="/location/new">Add a Location</a>
            <a class="btn btn-lg btn-info" href="/location">List of Locations</a>
        </p>
    </div>
    <div th:replace="fragment/footer :: footer" />
</div> <!-- /container -->
</body>
</html>