<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragment/bodyHeader :: bodyHeader"/>
    <h3> List of Locations </h3>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name of Location</th>
                <th>Assigned Inventory</th>
                <th>Edit name</th>
                <th>Delete</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="location : ${locations}">
                <td th:text="${location.name}"></td>
                <td><a class="btn btn-primary" th:href="@{/location/{id} (id=${location.id})}">Click</a></td>
                <td><a class="btn btn-primary" th:href="@{/location/{id}/edit (id=${location.id})}">Click</a></td>
                <td><a class="btn btn-danger" th:href="@{/location/{id}/delete (id=${location.id})}">Click</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragment/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>