<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
<div class="container">
  <div th:replace="fragment/bodyHeader :: bodyHeader"/>
  <div>
    <table class="table table-striped">
      <h3> List of the inventories of the location:  <span th:text="${location.getName()}"></span></h3>
      <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="locationInventory : ${locationInventories}">
        <td th:text="${locationInventory.inventory.name}"></td>
        <td th:text="${locationInventory.inventory.type}"></td>
        <td th:text="${locationInventory.inventory.description}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragment/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>